
.criar-quizz__comeco__info, .criar-quizz__perguntas__info,
.criar-quizz__niveis__info{
    display: flex;
    flex-direction: column;

    background-color: #FFF;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 8rem;

    overflow: hidden;

    width: 60rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    transition: height 1s;
}

.criar-quizz__perguntas__info:not(:last-child),
.criar-quizz__niveis__info:not(:last-child){
    margin-bottom: 1rem;
}

.criar-quizz__perguntas__info:not(.contraido) div:nth-child(1) img,
.criar-quizz__niveis__info:not(.contraido) div:nth-child(1) img{
    display: none;
}

.criar-quizz__perguntas__info span,
.criar-quizz__niveis__info span{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}


.criar-quizz__perguntas__info > span:nth-child(n+2){
    padding: 2rem 0;
}

.criar-quizz__perguntas__info > div:not(:last-child),
.criar-quizz__niveis__info > div:not(:last-child){
    width: 100%;
    margin-bottom: 2rem;
}

div.contraido{
    height: 6rem;
}

div.contraido div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
}

div.contraido img{
    width: 2rem;
}