
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--clr-bg-btn-criarquizz);

    padding: 7.7rem 0;
}

.container.container-quizz{
    padding-top: 0;
}