
@media (max-width: 1050px){
    
    .container__criar-quizz{
        width: 100%;
    }

    .quizzes{
        padding: 0 2rem;
        width: 100%;
    }

    .quizzes__todos-quizzes, .quizzes__lista{
        width: 100%;
    }

    .quizz{
        height: 25rem;
        width: 100%;
        max-width: 100%;
        min-height: 25rem;
        min-width: 30rem;
    }

}

@media (max-width: 760px){
    .quizz-pergunta, .quizz-pergunta-final, .container-perguntas{
        width: 100%;
    }

    .quizz-pergunta__respostas-final{
        flex-direction: column;
    }

    .quizz-pergunta__respostas-final img{
        width: 100%;
        margin-bottom: 1rem;
    }

    .quizz-pergunta__respostas-final span{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 600px){
    .criar-quizz__comeco, .criar-quizz__comeco__info,
    .criar-quizz__perguntas__info, .criar-quizz__niveis__info{
        width: 100%;
        min-width: 35rem;
    }
}