@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --ft-principal: 'Roboto', sans-serif;

    --clr-principal: #EC362D;
    --clr-ft-titulo: #FFF;
    --clr-ft-criarquizz: #B9B9B9;
    
    --clr-border-criarquizz: #D4D4D4;
    --clr-bg-btn-criarquizz: #FAFAFA;
    --clr-border-input: #D1D1D1;
}

*{
    box-sizing: border-box;
}

html{
    font-family: var(--ft-principal);
    font-size: 10px;
}

.subtitulo, .subtitulo-final{
    font-size: 2rem;
    font-weight: 700;
}

.subtitulo-final{
    margin-bottom: 4rem;
}

section.esconder{
    display: none;
}